<div>
  Filter by type:
  <% @types.each do |type| %>
    <div class="btn btn-primary btn-filter filterall"><%= type.label %></div>
  <% end %>
  <span class="btn btn-primary btn-filter">other</span>
  <span class="btn btn-primary btn-filter">all</span>
</div>

<% @layouts.each do |layout| %>
  <div class="layout-item filter<%= load_event_type_label layout %> filterall">
    <p>
      <%= layout.title %>
    </p>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(document).on('click','.btn-filter', function() {
    var filter_class = '.filter' + $(this).text();
    $('.layout-item').hide();
    $(filter_class).show();
  })
</script>
