<div class="user-main-wrap">
  <div class="container">
    <h1>User Dashboard</h1>
    <%= render "/users/dashboard/create_event" %>

    <div id="list-event">
      <%= render "/users/dashboard/event" %>
    </div>
  </div>
</div>
