<li>
  <div class="table-panel">
    <div class="table-child ver-mid label-title"><%= target.created_at.strftime("%Y %b %d %H:%M") %></div>
    <div class="table-child"><%= target.content %></div>
  </div>
</li>
