<nav class="navbar admin-main-nav navbar-fixed-top">
  <div class="container">
    <div class="navbar-header ">
      <%= link_to "Event Admin", root_path, class: "navbar-brand no-outline" %>
    </div>
    
    <ul class="main-menu nav navbar-nav navbar-right">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "no-outline" %>
      </li>
    </ul>
  </div>
</nav>
