<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit_event_modal">
      Edit modal
    </button>

    <div id="event-detail-info">
      <%= render "event_info" %>
    </div>
  </div>

  <div class="col-sm-6">
    <%= render "manage_cost_modal" %>
    <div id="list-cost-log">
      <%= render "manage_cost" %>
    </div>
  </div>
</div>
