<h1>Admin Dashboard</h1>
<% if admin_signed_in? %>
  <div><%= link_to "Sign out", destroy_admin_session_path, method: :delete, class: "btn btn-primary btn-lg" %></div>
  <br>

  <%= render "create_layout_modal" %>

  <div id="list-layout">
    <%= render "layout" %>
  </div>
<% end %>
