<div class="admin-main-dashboard">
  <div class="admin-dashboard-screen table-panel">
    <div class="admin-slide-left table-child">
      <%= render "admins/dashboard/dashboard_slide" %>
    </div>
    <div class="dashboard-main table-child">
      <div class="dashboard-layout dashboard-layout-list">
        <div class="dashboard-header">
          <h2 class="admin-page-title">Layout</h2>
        </div>
        <div class="dashboard-body">
          <ul class="list-layouts list-unstyled list-inline js--layout-holder" id="admins_layout_list">
            <li class="layout-item cursor-pointer" data-toggle="modal" data-target="#newLayoutModal">
              <%= image_tag "add-layout-image.jpg", class: "layout-image" %>
              <div class="layout-text">
                <h4 class="layout-name new-layout">New Layout</h4>
              </div>
            </li>
            <% @layouts.each do |layout| %>
              <%= render "admins/track_layout/layout_item", target_layout: layout %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'admins/track_layout/new_layout_modal' %>
