<div class="admin-main-dashboard">
  <div class="admin-dashboard-screen table-panel">
    <div class="admin-slide-left table-child">
      <%= render "admins/dashboard/dashboard_slide" %>
    </div>
    <div class="dashboard-main table-child">
      <div class="dashboard-layout dashboard-messages">
        <div class="dashboard-header">
          <h2 class="admin-page-title">Contact Messages</h2>
        </div>
        <div class="dashboard-body">
          <div class="message-list">
            <ul class="list-unstyled">
              <% @messages.each do |message| %>
                <%= render 'admins/contact_message/contact_message_item', contact_message: message %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
