<div class="admin-main-dashboard">
  <div class="admin-dashboard-screen table-panel">
    <div class="admin-slide-left table-child">
      <%= render "admins/dashboard/dashboard_slide" %>
    </div>
    <div class="dashboard-main table-child">
      <div class="dashboard-layout dashboard-payment">
        <div class="dashboard-header">
          <h2 class="admin-page-title">Payment</h2>
        </div>
        <div class="dashboard-body">
        </div>
      </div>
    </div>
  </div>
</div>
